Operador/operador-ejb/src/wsdl/localhost_8080/operador-ws/Documento.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.ws.operador.statusquo.ecos.uniandes.edu.co/" xmlns:ns2="http://co.edu.uniandes.ecos.statusquo.operador.ws.servicio.ErrorTipo/" xmlns:ns1="http://co.edu.uniandes.ecos.statusquo.operador.ws.servicio.ContextoRespuestaTipo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.ws.operador.statusquo.ecos.uniandes.edu.co/">

<xs:import namespace="http://co.edu.uniandes.ecos.statusquo.operador.ws.servicio.ContextoRespuestaTipo/" schemaLocation="http://localhost:8080/operador-ws/Documento?xsd=3"/>

<xs:import namespace="http://co.edu.uniandes.ecos.statusquo.operador.ws.servicio.ErrorTipo/" schemaLocation="http://localhost:8080/operador-ws/Documento?xsd=2"/>

<xs:element name="getDocumento" type="tns:getDocumento"/>

<xs:element name="getDocumentoResponse" type="tns:getDocumentoResponse"/>

<xs:complexType name="getDocumento">
<xs:sequence>
<xs:element name="solicitudArchivo" type="tns:archivoResultanteDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="archivoResultanteDTO">
<xs:sequence>
<xs:element name="archivo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="detalles" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="formato" type="xs:string" minOccurs="0"/>
<xs:element name="identificacionDestinatario" type="xs:string" minOccurs="0"/>
<xs:element name="identificacionRemitente" type="xs:string" minOccurs="0"/>
<xs:element name="nombreArchivo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreRemitente" type="xs:string" minOccurs="0"/>
<xs:element name="nombreTipoArchivo" type="xs:string" minOccurs="0"/>
<xs:element name="size" type="xs:string" minOccurs="0"/>
<xs:element name="tramite" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuestaDocumento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuestaDocumento">
<xs:sequence>
<xs:element name="respuestaEstandar" type="ns1:ContextoRespuestaTipo" minOccurs="0"/>
<xs:element name="solicitudArchivo" type="tns:archivoResultanteDTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FalloTipo">
<xs:sequence>
<xs:element name="contextoRespuesta" type="ns1:ContextoRespuestaTipo" minOccurs="0"/>
<xs:element name="error" type="ns2:ErrorTipo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>