Operador/operador-ejb/src/wsdl/localhost_8080/centralizador-ws/UsuarioSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" name="UsuarioSW">
<wsp1_2:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" wsu:Id="UsuarioSWPortBindingPolicy">


<sp:SignedSupportingTokens>
<wsp1_2:Policy>
<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<sp:WssUsernameToken10/>
</wsp1_2:Policy>
</sp:UsernameToken>
</wsp1_2:Policy>
</sp:SignedSupportingTokens>
<sp:SymmetricBinding>
<wsp1_2:Policy>
<sp:AlgorithmSuite>
<wsp1_2:Policy>
<sp:Basic128/>
</wsp1_2:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp/>
<sp:Layout>
<wsp1_2:Policy>
<sp:Strict/>
</wsp1_2:Policy>
</sp:Layout>
<sp:OnlySignEntireHeadersAndBody/>
<sp:ProtectionToken>
<wsp1_2:Policy>
<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
<wsp1_2:Policy>
<sp:RequireIssuerSerialReference/>
<sp:WssX509V3Token10/>
</wsp1_2:Policy>
</sp:X509Token>
</wsp1_2:Policy>
</sp:ProtectionToken>
</wsp1_2:Policy>
</sp:SymmetricBinding>
<sp:Wss11>
<wsp1_2:Policy>
<sp:MustSupportRefEncryptedKey/>
<sp:MustSupportRefIssuerSerial/>
<sp:MustSupportRefThumbprint/>
</wsp1_2:Policy>
</sp:Wss11>
<wsapw3c:UsingAddressing/>
</wsp1_2:Policy>
<wsp1_2:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="UsuarioSWPortBinding_setUsuario_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp1_2:Policy>
<wsp1_2:Policy xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" wsu:Id="UsuarioSWPortBinding_setUsuario_Output_Policy">
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="AckRequested"/>
<sp:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="CreateSequence"/>
<sp:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" schemaLocation="http://localhost:8080/centralizador-ws/UsuarioSW?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.exception/" schemaLocation="http://localhost:8080/centralizador-ws/UsuarioSW?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.ErrorTipo/" schemaLocation="http://localhost:8080/centralizador-ws/UsuarioSW?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.ContextoRespuestaTipo/" schemaLocation="http://localhost:8080/centralizador-ws/UsuarioSW?xsd=4"/>
</xsd:schema>
</types>
<message name="setUsuario">
<part name="parameters" element="tns:setUsuario"/>
</message>
<message name="setUsuarioResponse">
<part name="parameters" element="tns:setUsuarioResponse"/>
</message>
<message name="FalloTipo">
<part xmlns:ns1="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.exception/" name="fault" element="ns1:FalloTipo"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<portType name="UsuarioSW">
<operation name="setUsuario">
<input wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuarioRequest" message="tns:setUsuario"/>
<output wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuarioResponse" message="tns:setUsuarioResponse"/>
<fault message="tns:FalloTipo" name="FalloTipo" wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuario/Fault/FalloTipo"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuarioResponse" message="tns:getUsuarioResponse"/>
<fault message="tns:FalloTipo" name="FalloTipo" wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuario/Fault/FalloTipo"/>
</operation>
</portType>
<binding name="UsuarioSWPortBinding" type="tns:UsuarioSW">
<wsp1_2:PolicyReference URI="#UsuarioSWPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setUsuario">
<soap:operation soapAction=""/>
<input>
<wsp1_2:PolicyReference URI="#UsuarioSWPortBinding_setUsuario_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp1_2:PolicyReference URI="#UsuarioSWPortBinding_setUsuario_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="FalloTipo">
<soap:fault name="FalloTipo" use="literal"/>
</fault>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<wsp1_2:PolicyReference URI="#UsuarioSWPortBinding_setUsuario_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp1_2:PolicyReference URI="#UsuarioSWPortBinding_setUsuario_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="FalloTipo">
<soap:fault name="FalloTipo" use="literal"/>
</fault>
</operation>
</binding>
<service name="UsuarioSW">
<port name="UsuarioSWPort" binding="tns:UsuarioSWPortBinding">
<soap:address location="http://localhost:8080/centralizador-ws/UsuarioSW"/>
</port>
</service>
</definitions>