Operador/operador-ejb/src/wsdl/localhost_8080/UsuarioSW/UsuarioSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" name="UsuarioSW">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/" schemaLocation="http://localhost:8080/UsuarioSW/UsuarioSW?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.exception/" schemaLocation="http://localhost:8080/UsuarioSW/UsuarioSW?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.ErrorTipo/" schemaLocation="http://localhost:8080/UsuarioSW/UsuarioSW?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.ContextoRespuestaTipo/" schemaLocation="http://localhost:8080/UsuarioSW/UsuarioSW?xsd=4"/>
</xsd:schema>
</types>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="FalloTipo">
<part xmlns:ns1="http://co.edu.uniandes.ecos.statusquo.centralizador.ws.servicio.exception/" name="fault" element="ns1:FalloTipo"/>
</message>
<message name="setUsuario">
<part name="parameters" element="tns:setUsuario"/>
</message>
<message name="setUsuarioResponse">
<part name="parameters" element="tns:setUsuarioResponse"/>
</message>
<portType name="UsuarioSW">
<operation name="getUsuario">
<input wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuarioResponse" message="tns:getUsuarioResponse"/>
<fault message="tns:FalloTipo" name="FalloTipo" wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/getUsuario/Fault/FalloTipo"/>
</operation>
<operation name="setUsuario">
<input wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuarioRequest" message="tns:setUsuario"/>
<output wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuarioResponse" message="tns:setUsuarioResponse"/>
<fault message="tns:FalloTipo" name="FalloTipo" wsam:Action="http://servicios.ws.centralizador.statusquo.ecos.uniandes.edu.co/UsuarioSW/setUsuario/Fault/FalloTipo"/>
</operation>
</portType>
<binding name="UsuarioSWPortBinding" type="tns:UsuarioSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FalloTipo">
<soap:fault name="FalloTipo" use="literal"/>
</fault>
</operation>
<operation name="setUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FalloTipo">
<soap:fault name="FalloTipo" use="literal"/>
</fault>
</operation>
</binding>
<service name="UsuarioSW">
<port name="UsuarioSWPort" binding="tns:UsuarioSWPortBinding">
<soap:address location="http://localhost:8080/UsuarioSW/UsuarioSW"/>
</port>
</service>
</definitions>